html {
    overflow-y: scroll;
    overflow-x: hidden;
    /* font-family: 'Karla', sans-serif !important; */
    font-family: 'Nunito', sans-serif !important;
    height: 100%;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    scroll-behavior: auto;
}

header {


}

p {
    margin: 2em 0;
}

.bold {
    font-weight: 600 !important;
}

strong {
    font-weight: 700 !important;
}

time {

}

.inline {
    display: inline-block;
}

.button-filled {
    max-width: 0.5em !important;
    max-height: 25px !important;
    height: 25px !important;
    overflow: hidden;
    word-wrap: normal;
    padding: 0 !important;
    line-height:  1.7em !important;
    box-shadow:  inherit !important;
    filter: grayscale(100%) !important;
    margin: 0 0 7px 0 !important;
}

ul:not(.browser-default) {
    list-style: inherit !important;
    padding-left: 2em !important;
}

li {
    list-style: inherit !important;
    padding-bottom: 0.5em;
}

img {
    max-width: 100% !important;
}

/* ****************************************************************************/
/* ARTICLE CARD
/* ****************************************************************************/

article.article-card {

}

article > header {

}

article > header > strong {
    margin: 0 .3rem 0 0;
}

article > h2 {
    margin: 0 0 1em 0;
}

article > p {
    margin: 0 0 1em 0;
}

/* ****************************************************************************/
/* SITE BORDER */
/* ****************************************************************************/

.border {
    position: fixed;
    display: block;
    min-height: 100%;
    min-width: 100%;
    outline: 2px solid #343434;
    outline-offset: -10px;
    z-index: 1000;
    pointer-events: none;
    /* filter: blur(0.03rem); */
}

.border-red {
    position: fixed;
    display: block;
    min-height: 100%;
    min-width: 100%;
    outline: 2px solid #ff00004d;
    outline-offset: -10px;
    margin: 0.1em 0 0 0.1em;
    padding: 0;
    z-index: 999;
    pointer-events: none;
}

.border-cyan {
    position: fixed;
    display: block;
    min-height: 100%;
    min-width: 100%;
    outline: 2px solid #00ffff4d;
    outline-offset: -10px;
    z-index: 998;
    pointer-events: none;
    left: -2px;
    top: -2px;
}

.border-white {
    position: fixed;
    display: block;
    min-height: 100%;
    min-width: 100%;
    outline: 20px solid #f1f1f1 ;
    outline-offset: -10px;
    z-index: 997;
    pointer-events: none;
    left: -2px;
    top: 0px;
}

.boxed {
    height: 100px;
    width: 100px;
    outline: 2px solid #343434;
    position:relative;/* pick as reference for pseudo absolute */
    -moz-box-sizing:border-box; /* keep box within size given */
    box-sizing:border-box;
    z-index: 10000;
    padding: 0.1em;
    margin: 0.1em;
}


.anaglyph-box {
    /* min-height: 100%; */
    /* min-width: 100%; */
    padding:        0.5em;
    margin:         0em;
    outline:        2px solid #000;
    outline-offset: -5px;
    position:       relative;
    -moz-box-sizing:border-box;
    box-sizing:     border-box;
 }

.anaglyph-box:before {
    content:"";
    top:     1px;
    left:    1px;
    right:   5px;
    bottom:  5px;
    border:  2px solid #00ffff4d;
    position: absolute;
    padding: 0;
    margin: 0;
    pointer-events: none;
}
.anaglyph-box:after {
    content:"";
    top:     5px;
    left:    5px;
    right:   2px;
    bottom:  2px;
    border:  2px solid #ff00004d;
    position: absolute;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.navbar-fixed {}

.loader {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    opacity: 1;
    background: #fff;
    z-index:9999;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 5s;
    transition-duration: 5s;
}

.loader::after {
    opacity: 0;
}

#nav-header {
    line-height: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #f1f1f1 !important;
}

main {
    flex: 1 0 auto;
    padding: 0 0.5em 0 0.5em;
}

.pointer {
    cursor: pointer;
}

.sidenav-overlay {
    z-index: 1000 !important;
}

.sidenav {
    /* width: 90% !important; */
    width: 25em !important;
    z-index: 1001 !important;
    height: 100% !important;
}

.sidenav .menu-btn {
    text-transform: uppercase;
    font-size:      2em;
    padding: 0 0 0 0.5em;
    margin: 0;
    width: 100%;
}

#sidenav-btn {
    display: block;
    position: fixed;
    z-index: 900;
    right: 2px;
    top: 14px;
}

ul.sidenav {
    list-style-type: none !important;
    padding-left: 0 !important;
    background-color: inherit !important;
}

.sidenav li>a:hover {
    /* list-style-type: none !important; */
    /* padding-left: 0 !important; */
    background-color: inherit !important;
}

@media screen and (min-width: 0px) {
    .logo {
        display: none;
    }
}

@media screen and (min-width: 850px) {
    .logo {
        display: block;
        width: 100px;
        height: 100px;
        display: block;
        position: fixed;
        z-index: 1000;
        bottom: 20px;
        right: 20px;
        -webkit-transition-property: width, height, bottom, right, transform;
        transition-property: width, height, bottom, right, transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 3s;
    }
}

.logo:hover {
    transform: rotate3d( 0, 0.99, 0, 180deg);
}

.box {
    border-radius: 0.3em;
    min-height: 30vh;
}

@media only screen and (max-width: 500px) {
    .logo.off-right {
        /* right: -50%; */
    }
}

.center-div {
    margin: 0 auto;
    width: 400px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  min-height: 62vh;
  margin-top: 2em;
}

@media only screen and (min-width: 0px) {
    .pad-height-20 {
        padding-top: 5vh !important;

    }
}

@media only screen and (min-width: 908px) {
    .pad-height-20 {
        padding-top: 15vh !important;
    }
}


.pad-1 {
    padding: 1em;
}

.full {
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.no-margin {
    margin: 0 !important
}

.padding-1 {
    padding: 1em !important
}

.no-padding {
    padding: 0 !important
}

.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-vertical-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.hidden {
    display: none;
}

.box-shadow {
    -webkit-box-shadow: 0 0 5rem #100e17;
    box-shadow: 0 0 5rem #100e17;
    height: 100%;
    width: 100%;
}

.box-text {
    font-size: 1.4em;
    padding: 1em 0 1.2em 0;
    text-align: center;
    width: 100%;
}

.contentlinks {
    /* position: fixed; */
    overflow-x: hidden;
    overflow-y: scroll;
    display: inline-block;
    scroll-behavior: smooth;
    height: 82%;
    /* top: 6em; */
    padding: 2.5em 0 0 0 !important;
}

.height-40px {
    height: 40px !important;
}

.sidenav-link {
    background-color: inherit !important;
    font-size: 1em !important;
    line-height: 3em !important;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block !important;
    height: 40px !important;
    padding-left: 5px !important;
    vertical-align: baseline !important;
}

/* ****************************************************************************/
/* HEIGHT PADDING */
/* ****************************************************************************/

.height-10 {
    padding: 0 !important;
    margin: 0 !important;
    height: 10vh;
}

.height-20 {
    padding: 0 !important;
    margin: 0 !important;
    height: 20vh;
}

.height-30 {
    padding: 0 !important;
    margin: 0 !important;
    height: 30vh;
}

.height-40 {
    padding: 0 !important;
    margin: 0 !important;
    height: 40vh;
}

.height-50 {
    padding: 0 !important;
    margin: 0 !important;
    height: 50vh;
}

.height-100 {
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh;
}

/* ****************************************************************************/
/* POSITION */
/* ****************************************************************************/

@media screen and (min-width: 600px) {
    .right-on-med-and-up {
            float: right !important;
    }
}

@media screen and (min-width: 992px) {
    .right-on-large-and-up {
            float: right !important;
    }
}

/* ****************************************************************************/
/* ICONS */
/* ****************************************************************************/

.spaced.fa-2x {
    padding: 0;
    top: 0.2em;
    position: relative;
    margin: 0 0 0 1em;
}

.img-icon {
    width: 40px;
    display: inline-block;
}
/* ****************************************************************************/
/* GRID */
/* ****************************************************************************/

.v-wide {
    max-width: 1040px;
    margin: 0 auto;
    padding: 1em;
}

.wide {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

.slim {
    /* max-width: 960px; */
    max-width: 750px;
    margin: 0 auto;
    padding: 1em;
}

.v-slim {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

@media screen and (min-width: 0px) {
    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 2.5em 0;
    }
    .flex-column > h3 {
        font-size:      2em      !important;
        margin-top:     2em      !important;
        margin-bottom:  1em      !important;
        font-weight:    600;
    }
    .head-half-title {
        /* background-color: cyan; */
        height: 50vh;
        align-items: flex-end;
        vertical-align: baseline;
        margin: 0 0 0 0;
    }
    .head-title {
        /* background-color: cyan; */
        height: 50vh;
        align-items: flex-end;
        vertical-align: baseline;
        margin: 0 0 0 0;
    }
    .flex-column {
        margin-right: 0 !important;
        /* flex: 1; */
    }
    p {
        font-size: 1.2em;
        line-height: 2em;
    }
}

@media screen and (min-width: 600px) {
    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 2.5em 0;
    }
    .flex-column > h3 {
        font-size:     2em      !important;
        margin-top:    2em      !important;
        margin-bottom: 0em      !important;
    }
    .head-half-title {
        /* background-color: green; */
        height: 50vh;
        align-items: flex-end;
        vertical-align: baseline;
        margin: 60px 0 0 0;
    }
    .head-title {
        /* background-color: green; */
        height: 50vh;
        align-items: flex-end;
        vertical-align: baseline;
        margin: 60px 0 0 0;
    }
    .flex-column {
        flex: 1;
        margin-right:  2.5em    !important;
        margin-left:   0em      !important;
    }
}

@media screen and (min-width: 850px) {
    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 5em 0;
    }
    .flex-column > h3 {
        font-size:     2em      !important;
        margin-top:    2em      !important;
        margin-bottom: 0em      !important;
    }
    .head-half-title {
        /* background-color: orange; */
        height: 50vh;
        max-width: 40vh;
        align-items: flex-end;
        vertical-align: baseline;
        margin: 60px 0 0 0;
    }
    .head-title {
        /* background-color: orange; */
        height: 50vh;
        align-items: flex-end;
        vertical-align: baseline;
        margin: 60px 0 0 0;
    }
    .flex-column {
        flex: 1;
        margin-right:  3em      !important;
        margin-left:   0em      !important;
    }
}


/* ****************************************************************************/
/* COLOURS */
/* ****************************************************************************/

.off-white {
    background: #f1f1f1 !important;
}

.off-white-text {
    color: #f1f1f1 !important;
}

.soft-grey {
    background: #343434 !important;
}

.soft-grey-text {
    color: #343434 !important;
}

.soft-grey-text-1 {
    color: rgb(109, 109, 112) !important
}

.soft-grey-text-2 {
    color: rgb(147, 145, 143) !important;
}

.coral-reef-text {
    color: #f87666 !important;
}

.vanilla {
    background: #f3f6a9 !important;
}

.vanilla-text {
    color: #f3f6a9 !important;
}

.spanish-grey {
    background: #95a78d !important;
}

.spanish-grey-text {
    color: #95a78d !important;
}

.arsenic {
    background: #394648 !important;
}

.arsenic-text {
    color: #394648 !important;
}

.russian-green {
    background: #69995d !important;
}

.russian-green-text {
    color: #69995d !important;
}

.coral-reef {
    background: #f87666 !important;
}

.soft-red {
    background: #ffdfdf !important;
}

.inverse {
    filter: invert();
}

.greyscale {
    -webkit-filter: grayscale( 100% );
    filter: grayscale( 100% );
}

.trans-to-white-vertical {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f1f1f1+100&1+0,1+60,0.8+77,0+100 */
    background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 60%, rgba(241,241,241,0.8) 77%, rgba(241,241,241,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(241,241,241,1) 60%,rgba(241,241,241,0.8) 77%,rgba(241,241,241,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(241,241,241,1) 60%,rgba(241,241,241,0.8) 77%,rgba(241,241,241,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#00f1f1f1',GradientType=0 ); /* IE6-9 */
}

.shade-coral {
    background: rgba(255,51,95,0.05);
}

.shade-cyan {
    background: rgb(0, 255, 255, 0.05);
}

.shade-off-white {
    background: rgb(255, 255, 255, 0.5);
}

/* https://www.heropatterns.com/ */

.pattern-plus {
    /* background-color: rgb(0, 255, 0, 0.05);; */
    background-image: url("data:image/svg+xml,%3Csvg width='160' height='160' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e8e6ea' fill-opacity='0.92'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.pattern-tic-tac-toe {
    background-image: url("data:image/svg+xml,%3Csvg width='128' height='128' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23e0efef' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");

}

.pattern-rain {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* ****************************************************************************/

footer {
    z-index: 980;
}

/* ****************************************************************************/
/* WORDS */
/* ****************************************************************************/

.karla-font {
    font-family: 'Karla', sans-serif !important;
    font-size: 1em;
    line-height: 1.7em;
}

.roboto-font {
    font-family: 'Karla', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.3em;
    line-height: 1.7em;
}


p.caption {
    font-size: 0.8em;
    margin-top: 0;
}

@media only screen and (min-width: 0px) {
    h1.welcome {
        /* font-size: 1em !important; */
        /* line-height: 1.5em !important; */
        /* margin: 0.8rem 1rem 1.68rem 1rem !important; */


        margin-top: 40px !important;
        font-size: 25px !important;
        line-height: 35px !important;

        /* margin: 2.8rem 0 1.68rem 0 !important;
        max-width: 1040px !important;
        margin-left: 50px !important;
        margin-top: 57px !important;
        margin-right: 50px !important; */

    }
}

@media only screen and (min-width: 600px) {
    h1.welcome {
        /* font-size: 1em !important;
        line-height: 1.5em !important; */
        /* margin: 0.2rem 0 0.5rem 2em !important; */
        margin-top: 80px !important;
        font-size: 30px !important;
        line-height: 50px !important;
    }
}

@media only screen and (min-width: 750px) {
    h1.welcome {
        /* font-size: 2em !important;
        line-height: 1.5em !important;
        margin: 2.8rem 0 1.68rem 0 !important; */

        font-size: 44px !important;
        line-height: 78px !important;
    }
}

#bio p {
    margin-top: 2em    !important;
    margin-bottom: 2em !important;
}

h1 {
    font-family: 'Karla', sans-serif !important;
}

h2 {
    font-family: 'Karla', sans-serif !important;
}

h3 {
    font-family: 'Karla', sans-serif !important;
    font-size: 1.7em   !important;
    line-height: 1.7em !important;
}

h4 {
    font-family: 'Karla', sans-serif !important;
    font-size: 1.2em !important;
    line-height: 5em !important;
}

h5 {
    font-family: 'Karla', sans-serif !important;
    font-size: 1.1em !important;
    font-weight: bold !important;
}

.title {
    font-family: 'Karla', sans-serif !important;
    font-size: 1.7em;
    line-height: 1.2em;
    margin: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0 1em 0;
}

.size-1-2 {
    font-size: 1.2em;
}

.no-select {
    -webkit-user-select: none !important;
    /* Chrome all / Safari all */
    -moz-user-select: none !important;
    /* Firefox all */
    -ms-user-select: none !important;
    /* IE 10+ */
    user-select: none !important;
    /* Likely future */
}

.section {
    margin: 0 1em 0 1em;
}

.background-image {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(42, 42, 42, 0.63), rgba(60, 55, 58, 0.85)), url(../img/roskelld_square_halftone.png), grey !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.background {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(42, 42, 42, 0.63), rgba(60, 55, 58, 0.85)) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.header-logo {
    font-size: 1.5em !important;
    margin-top: 1em !important;
    line-height: 1em !important;
    background-image: linear-gradient(black 0% 50%, yellow 50% 100%);
    background-repeat: repeat-x;
    background-position: 0 1.25em;
    background-size: 1px 4px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 7px;
    cursor: pointer;
}

.header-logo:hover {
    /* --color: #ff9800; */
}

.sub-header {
    line-height: 1em;
    padding-bottom: 1em;
}

@media only screen and (min-width: 700px) {
    .container {
        width: 100% !important;
    }
}

.width-40 {
    /* width: 40% !important; */
}

.width-50 {
    width: 50% !important;
}

.card-link {
    display: block;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
            transition: opacity 0.5s linear, filter 1s ease-in !important; /* vendorless fallback */
         -o-transition: opacity 0.5s linear, filter 1s ease-in !important; /* opera */
        -ms-transition: opacity 0.5s linear, filter 1s ease-in !important; /* IE 10 */
       -moz-transition: opacity 0.5s linear, filter 1s ease-in !important; /* Firefox */
    -webkit-transition: opacity 0.5s linear, filter 1s ease-in !important; /*safari and chrome */
}

.card-link:hover:not(.selected) {
    opacity: 1;
    transition: opacity 0.5s linear !important; /* vendorless fallback */
    -o-transition: opacity 0.5s linear !important; /* opera */
    -ms-transition: opacity 0.5s linear !important; /* IE 10 */
    -moz-transition: opacity 0.5s linear !important; /* Firefox */
    -webkit-transition: opacity 0.5s linear !important; /*safari and chrome */
}

.card-link.a {
    display: block;
}

.selected {
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important;
    opacity: 1 !important;
            transition: opacity 0.5s linear, filter 0.3s ease-in !important; /* vendorless fallback */
         -o-transition: opacity 0.5s linear, filter 0.3s ease-in !important; /* opera */
        -ms-transition: opacity 0.5s linear, filter 0.3s ease-in !important; /* IE 10 */
       -moz-transition: opacity 0.5s linear, filter 0.3s ease-in !important; /* Firefox */
    -webkit-transition: opacity 0.5s linear, filter 0.3s ease-in !important; /*safari and chrome */
}

.detail-description {
    padding: 1em;
}

.content-section {
    display: inline-block;
    width: 95%;
    font-weight: 600;
    margin-left: 1em;
    margin-right: 1em;
}

.link {
    cursor: pointer;
}

.no-link {
    cursor: default;
}

.grab {
    cursor: grab;
}

.pickup {
    position: absolute;
    z-index: 10000;
}

.detail-header {
    /* padding: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 0.1em; */
    /* font-stretch: semi-expanded; */
    font-weight: 700;
}

.unreleased {
    position: absolute;
    bottom: 2px;
    width: 100%;
    background-color: black;
    color: red;
    font-size: 1em;
    text-align: center;
}

.detail-data {
    /* padding-left: 1em; */
    /* width:        30em; */
}


.contentdetail {
    width: 100%;
    display: inline-block;
    float: left;
    min-height: 700px;
}


.tab {
    padding-left: 1px !important;
    padding-right: 1px !important;
    background-color: white !important;
}

.tab a.active {
    background-color: rgb(243, 246, 169) !important;

}

.content-panel {
    /* opacity: 0 !important; */
    animation: fader 0.4s cubic-bezier(.91, .01, .65, 1) forwards;
    background-color: inherit !important;
}

.btn-flat {
    /* border-radius: 0.5em; */
    /* border: 2px rgb(240, 240, 240) solid !important; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */

}

.menu-btn {
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /* font-kerning: none; */
    /* width: 10em; */
    width: 8.5em;
}

a.active {
    background-color: rgb(243, 246, 169) !important;
}

a.text-link:link {
    /* background: rgb(243, 246, 169); */
    color: rgb(147, 145, 143) !important;
    padding: 0em 0.1em 0 0.1em;
    border-bottom: 5px solid rgb(243, 246, 169);
    vertical-align: inherit !important;
}

a.text-link:visited {
    /* background: rgb(243, 246, 169); */
    color: rgb(147, 145, 143) !important;
    padding: 0em 0.1em 0 0.1em;
    border-bottom: 5px solid rgb(243, 246, 169);
    vertical-align: inherit !important;
}

code {
    /* overflow: hidden;
    white-space: nowrap;
    font-size: 0.8em !important;
    color: rgb(228, 131, 2);
    font-family: monospace;
    font-weight: bold !important;*/
    background-color: rgb(233, 233, 233);
    border-radius: 0.5em;
    padding: 2px 8px 2px 8px;
}

.center-img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
}

.hover-gray-to-color {
    filter: grayscale( 100% );
    opacity: 0.3;
}

.hover-gray-to-color:hover {
    animation: grayscale-out 1s ease-out forwards;
}

/* .hover-gray-to-color:hover:before {
    animation: grayscale-out 1s ease-out backwards;
    background-color: green !important;
    color: green !important;
} */

.hover-gray-to-color:focus, .hover-gray-to-color:active {
    filter: grayscale(0);
    opacity: 1;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-2 {
    padding: 2em !important;
}

.margin-2 {
    margin: 2em !important;
}

/* ****************************************************************************/
/* STORY                                                                       */
/* ****************************************************************************/
#story-look {
    animation: fader 0.4s cubic-bezier(.91, .01, .65, 1) forwards;
}

#story-talk {
    animation: fader 0.4s cubic-bezier(.91, .01, .65, 1) forwards;
}

#story-talk a {
    animation: fader 5s cubic-bezier(.91, .01, .65, 1) forwards;
}

.story-reveal {
    animation: fader 3s cubic-bezier(.91, .01, .65, 1) forwards;
}

.story-hidden {
    display: none !important;
}

.story-button-hidden {
    visibility: hidden;
}

/* ****************************************************************************/
/* HOVER.CSS                                                                  */
/* https://ianlunn.github.io/Hover/                                           */
/* ****************************************************************************/
/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(243, 246, 169);
    transform: scaleX(0);
    transition-property: transform;
    transform-origin: 0 50%;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    -webkit-transform: scaleX(0);
    -webkit-transition-property: transform;
    -webkit-transform-origin: 0 50%;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: #343434;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Bounce To Right */
.hvr-overdraw::before {
    left: -20px !important;
    right: -20px !important;
}

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(243, 246, 169);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: #343434;
}

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Left */
.hvr-bounce-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(243, 246, 169);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
    color: #343434;
}

.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Bottom */
.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(243, 246, 169);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
    color: #343434;
}

.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Top */
.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(243, 246, 169);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: #343434;
}

.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Top */
p a {
    color: inherit !important;

}

p a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

p a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(243, 246, 169);
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

p a:hover, a:focus, a:active {
    color: #343434;
}

p a:hover:before, a:focus:before, a:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* ****************************************************************************/
/* ANIMATIONS */
/* ****************************************************************************/
@keyframes fader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes half-saturation-in {
    0% {
        -webkit-filter: saturation(100%);
        filter: saturation(100%);
        opacity: 0.5;
    }

    100% {
        -webkit-filter: saturation(50%);
        filter: saturation(50%);
        opacity: 1;
    }
}

@keyframes half-saturation-out {
    0% {
        -webkit-filter: saturation(50%);
        filter: saturation(50%);
        opacity: 1;
    }

    100% {
        -webkit-filter: saturation(100%);
        filter: saturation(100%);
        opacity: 0.5;
    }
}

@keyframes grayscale-50-100 {
    0% {
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%);
        opacity: 1;
    }

    100% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.5;
    }
}

@keyframes grayscale-out {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.5;
    }

    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
    }
}

/******************************************************/
/*  Coin  */
/******************************************************/





/******************************************************/
/*  FadeInOnScreen */
/******************************************************/

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeInAnimation {
  animation: fade-in 3s;
}

.fadeInOnScreen {
    opacity: 0;
}


/* ****************************************************************************/
/* GOBBLER */
/* ****************************************************************************/
.shh {
    /* width: 100%;
    height: 100%; */
    cursor: none !important;
}

html.shh * {
    animation: cursor 0.75s infinite;
    /* cursor: none !important; */
}

@keyframes cursor {
    0% {
        cursor: url("../img/sprites/shh-0.png") 16 16, auto;
    }

    33% {
        cursor: url("../img/sprites/shh-1.png") 16 16, auto;
    }

    66% {
        cursor: url("../img/sprites/shh-2.png") 16 16, auto;
    }

    100% {
        cursor: url("../img/sprites/shh-1.png") 16 16, auto;
    }
}

/* DEBUG */
/* .row {
    border: 1px dashed black !important;
}

.col {
    border: 1px dashed green !important;
} */

/* ****************************************************************************/
/* SERVICES */
/* ****************************************************************************/

@media only screen and (min-width: 1000px) {
    h1.services-title {
        font-size: 108px;
        line-height: 118px;
        font-weight: 700 !important;
    }

    h3.services-title {
        font-size: 81px !important;
        line-height: 91px !important;
        font-weight: 700 !important;
    }
}

@media only screen and (max-width: 750px) {
    h1.services-title {
        font-size: 80px;
        line-height: 84px;
        font-weight: 700 !important;
    }

    h3.services-title {
        font-size: 40px !important;
        line-height: 53px !important;
        font-weight: 700 !important;
    }
}


.services-main {
    font-weight: normal;
    font-style: normal;
    font-size: 27px;
    line-height: 47px;
}

.wide-section {
    max-width: 960px;
}

.services-offered {
    clear: both;
    content: '';
    display: table;
}

.services-offered-header {
    padding-left: 60px;
    margin-bottom: 20px;
}

h4.services-offered-header {
    display: inline-block !important;
}

.services-offered-header-left {
    float: left;
}


.services-offered-header-right {
    float: right;
}

.services-call-block {
    /* z-index: 10; */
}



.bg-shape-1 {
    width: 2000px;
    left: calc(100% * 4/12 + (200px / 12));
    top: -30vh;
    height: 130vh;
    position: absolute;
    z-index: -5;
}

.bg-shape-2 {
    left: calc(40% * 2/12 + (100px / 12));
    border-radius: 50%;
    top: 80vh;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -5;
}

.bg-shape-3 {
    left: 0;
    top: 190vh;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -5;
}

.bg-shape-4 {
    left: calc(40% * 2/12 + (100px / 12));
    border-radius: 50%;
    top: 290vh;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -5;
}

.bg-shape-5 {
    left: 0;
    top: 370vh;
    height: 270vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -4;
}

.bg-shape-6 {
    width: 2000px;
    left: calc(100% * 4/12 + (200px / 12));
    transform: rotate(45deg);
    top: 660vh;
    height: 130vh;
    position: absolute;
    z-index: -5;
}

/* ****************************************************************************/
/* MATERIALIZE */
/* ****************************************************************************/

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: inherit !important;
}

nav {
    background-color: inherit !important;
}

.card {
    background-color: inherit !important;
}

.tiny {
    font-size: 0.5em;
}


.circle-button {
    border-radius: 50%;
    cursor: pointer;
    background-size: 100%;
    width: 175px;
    height: 175px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.circle-button:hover {
    background-color: green;
}

.rollover {
    background: rgba(0,119,181,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-backface-visibility: hidden;
}

.rollover:hover {
    opacity: 1;
}

.circle {
    max-width: 500px !important;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default).large {
    font-size: 3em !important;
    height: 2.2em !important;
}

/* input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea.large {
} */

.input-field > label.large {
    font-size: 3em !important;
}

.materialize-textarea.large {
    font-size: 3em !important;
}

.full-image {
    min-height: 100vh;
    /* min-height: 100%; */
    background-repeat: no-repeat;
    /* background: 100vh; */
    background-position: center top;
    /* background-attachment: fixed; */
    position: relative;
}

.layered-image {
    /* position: relative; */
    bottom: 500px;
    /* right: -40px; */
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}

.fixed {
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    /* text-align: center; */
    min-height: 100vh;
    background-attachment: fixed;
}
