---
layout: page
title: Articles
permalink: /articles/
description: Game & Software Developer since 1997. Dean has worked on 16 published games across all major platforms. He has recently been developing web-based applications centered around Bitcoin & Lightning Network technologies. He is based in Edmonton, Canada.
order: 2
---
<div class="slim">
	<section class="flex-row head-half-title">
		<div class="flex-column">
			<h3>Articles</h3>
		</div>
	</section>
	{% for p in site.posts %}
	<section class="flex-row">
		<article class="article-card">
			<header>
				<strong>Article</strong>
				<time class="spanish-grey-text">{{ p.date | date: "%-d %B %Y" }}</time>
			</header>
			<h2 class="hvr-bounce-to-top">
				<a class="soft-grey-text-2" href="{{ p.url }}">{{ p.title }}</a>
			</h2>
			{{ p.excerpt }}<a class="inline" href="{{ p.url }}">Read Article</a>
			<p>
				{% for c in p.tags %}
				<div class="chip">{{ c }}</div>
				{% endfor %}
			</p>
		</article>

    </section>
	{% endfor %}
</div>
