---
layout: page
title: Dean Roskell - Video Game Development Consultant and Design Services - Blog
permalink: /articles/
description: Game & Software Developer since 1997. Dean has worked on 16 published games across all major platforms. He has recently been developing web-based applications centered around Bitcoin & Lightning Network technologies. He is based in Edmonton, Canada.
order: 2
---
<div class="slim">
	<section class="flex-row head-half-title">
		<div class="flex-column">
			<h3>Articles</h3>
		</div>
	</section>
	{% for p in site.posts %}
	<section class="flex-row">
		<time class="spanish-grey-text">{{ p.date | date: "%-d %B %Y" }}</time>
		<article class="article-card">
			<h2 class="coral-reef-text">
				{{ p.title }}
			</h2>
			<div>
				{{ p.excerpt }}
				<a class="right hvr-bounce-to-top hvr-overdraw" href="{{ p.url }}">[Read...]</a>
			</div>
		</article>
		<div>
			{% for c in p.tags %}
			<div class="chip">{{ c }}</div>
			{% endfor %}
		</div>

    </section>
	{% endfor %}
</div>
