---
layout: page
title: Dean Roskell - Video Game Development Consultant and Design Services - Project Development Work
permalink: /projects/
title: Projects
description: Game & Software Developer since 1997. Dean has worked on 16 published games across all major platforms. He has recently been developing web-based applications centered around Bitcoin & Lightning Network technologies. He is based in Edmonton, Canada.
order: 5
cardpanel: true
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
<div class="row">
    <div class="col s12 m12 l7">
        {% for p in site.data.projects.projects %}
        <div id="content-{{p.id}}"class="section content-panel card-panel z-depth-0 hide">
            <div class="row">
                <div class="col s12">
                    <div class="soft-grey-text title center-align">
                        {{ p.title }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m3">
                    <div class="soft-grey-text detail-header right-on-med-and-up">
                        Platform(s):
                    </div>
                </div>
                <div class="col s12 m9">
                    <div class="soft-grey-text detail-data"> · {% for p in p.platforms %}{{ p }} · {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Genre:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-data">
                            {{ p.genre }}
                        </div>
                    </div>
                </div>
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Release:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-data">
                            {{ p.release }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Company:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-data">
                            {{ p.company }}
                        </div>
                    </div>
                </div>
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Publisher:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-data">
                            {{ p.publisher }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m3">
                    <div class="soft-grey-text detail-header right-on-med-and-up">
                        Role(s):
                    </div>
                </div>
                <div class="col s12 m9"> · {% for p in p.role %}{{ p }} · {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col s12 m3">
                    <div class="soft-grey-text detail-header right-on-med-and-up">
                        Responsibilities:
                    </div>
                </div>
                <div class="col s12 m9"> · {% for p in p.work %}{{ p }} · {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col s12 m3">
                    <div class="soft-grey-text detail-header right-on-med-and-up">
                        Technology:
                    </div>
                </div>
                <div class="col s12 m9"> · {% for p in p.technology %}{{ p }} · {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Team Size:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        {{ p.team_size }}
                    </div>
                </div>
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Dev Time:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        {{ p.dev_time }}
                    </div>
                </div>
            </div>

            <div class="row">
                {% if p.trailer != '' %}
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Trailer:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <a href="{{ p.trailer }}" target="_none"><i class="fas fa-film fa-2x"></i></a>
                    </div>
                </div>
                {% endif %}
                {% if p.website != '' %}
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Website:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <a href="{{ p.website }}" target="_none"><i class="fas fa-home fa-2x"></i></a>
                    </div>
                </div>
                {% endif %}
                {% if p.link != '' %}
                <div class="col s6 padding-left-0 padding-right-0">
                    <div class="col s12 m6">
                        <div class="soft-grey-text detail-header right-on-med-and-up">
                            Launch:
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <a href="{{ base }}{{ p.link }}" target="_none"><i class="fas fa-rocket fa-2x"></i></a>
                    </div>
                </div>
                {% endif %}
            </div>

            {% if p.description != '' %}
            <div class="row">
                <div class="col s12 offset-m2 m8">
                    <h3>Description:</h3>
                    <p>{{ p.description }}</p>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="col s12 l5">
        {% for p in site.data.projects.projects %}
            <div class="col s4 m2 l6 xl3">
                <div class="card card-link z-depth-0" id="card-{{ p.id }}" data-target="{{ p.id }}">
                    <div class="card-image"><img src="{{base}}/img/product/{{ p.id }}.png" title="{{ p.title }}"></div>
                    {% if p.release == "N/A" %}
                        <span class="unreleased">unreleased</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</html>
