<header>
    <div class="navbar-fixed hide-on-med-and-down">
        <nav id="nav-header" class="off-white z-depth-0">
            <div class="nav-content">
                <div class="row">
                    <div class="col m12">
                        <div class="center">
                            <a id="home-menu-btn" 			href="{{base}}/" 			    class="menu-btn btn-large btn-flat off-white no-select hvr-bounce-to-bottom soft-grey-text-2 {% if page.title == 'Home' %}active{% endif %}">Home</a>
                            <a id="articles-menu-btn" 		href="{{base}}/articles"		class="menu-btn btn-large btn-flat off-white no-select hvr-bounce-to-bottom soft-grey-text-2 {% if page.title == 'Articles' %}active{% endif %}">Articles</a>
                            <a id="services-menu-btn" 		href="{{base}}/services" 		class="menu-btn btn-large btn-flat off-white no-select hvr-bounce-to-bottom soft-grey-text-2 {% if page.title == 'Services' %}active{% endif %}">services</a>
                            <a id="games-menu-btn" 			href="{{base}}/games" 		    class="menu-btn btn-large off-white btn-flat no-select hvr-bounce-to-bottom soft-grey-text-2 {% if page.title == 'Games' %}active{% endif %}">games</a>
                            <a id="applications-menu-btn" 	href="{{base}}/applications" 	class="menu-btn btn-large btn-flat no-select off-white hvr-bounce-to-bottom soft-grey-text-2 {% if page.title == 'Applications' %}active{% endif %}">apps</a>
                            <a id="projects-menu-btn" 		href="{{base}}/projects" 		class="menu-btn btn-large btn-flat off-white no-select hvr-bounce-to-bottom soft-grey-text-2 {% if page.title == 'Projects' %}active{% endif %}">projects</a>
                            <a id="about-menu-btn" 			href="{{base}}/about" 		    class="menu-btn btn-large btn-flat off-white no-select hvr-bounce-to-bottom soft-grey-text-2 {% if page.title == 'About' %}active{% endif %}">About</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="off-white">
        <ul class="sidenav no-padding no-margin" id="mobile-menu">
            <div class="row center">
                <a href="/"><img width="80px" src="{{base}}/img/logo/logo-square-trans-50.png"></a>
            </div>
            <li><a href="/" class="pointer menu-btn no-select hvr-bounce-to-right soft-grey-text-2">home</a></li>
            <li><a href="/articles" class="pointer menu-btn no-select hvr-bounce-to-right soft-grey-text-2">Articles</a></li>
            <li><a href="/services" class="pointer menu-btn no-select hvr-bounce-to-right soft-grey-text-2">services</a></li>
            <li><a href="/games" class="pointer menu-btn no-select hvr-bounce-to-right soft-grey-text-2">games</a></li>
            <li><a href="/applications" class="pointer menu-btn no-select hvr-bounce-to-right soft-grey-text-2">applications</a></li>
            <li><a href="/projects" class="pointer menu-btn no-select hvr-bounce-to-right soft-grey-text-2">projects</a></li>
            <li><a href="/about" class="pointer menu-btn no-select hvr-bounce-to-right soft-grey-text-2">about</a></li>

        </ul>
    </div>
    <div class="hide-on-large-only">
        <a id="sidenav-btn" class="btn-flat z-depth-0 pointer waves-effect"><i class="fas fa-bars blue-text fa-2x"></i></a>
    </div>
</header>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MC7X7QQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="border-red"></div>
<div class="border-cyan"></div>
<div class="border"></div>
<div class="border-white"></div>
<a href="/"><img id="logo" class="logo" src="{{base}}/img/logo/logo-square-trans-50.png" alt=""></a>
