<head>
    <title>{{ page.title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-title" content="Dean Roskell">

    <!-- Article -->
    <meta property="article:publisher" content="https://deanroskell.com">
    <meta name="author" content="Dean Roskell">
    <meta property="article:published_time" content="{{ page.date }}">
    <meta property="article:modified_time" content="{{ page.date }}">

    <meta name="description" content="{{ page.description }}">

    <!-- Open Graph -->
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <!-- <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}https://deanroskell.com/img/logo/logo-square.png {% endif %}" /> -->
    <!-- <meta property="og:image:height" content="627" /> -->
    <!-- <meta property="og:image:width" content="1200" /> -->
    <meta property="og:image:alt" content="{{ page.title }}" />
    <!-- <meta property="og:image:type" content="image/png" /> -->
    <meta property="og:site_name" content="Dean Roskell">
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="{{ page.type }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <!-- <meta name="twitter:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}https://deanroskell.com/img/logo/logo-square.png {% endif %}" /> -->
    <meta name="twitter:site" content="@roskelld" />



    <meta property="author" content="Dean Roskell">


    <!-- LinkedIn  -->
    <!-- <meta name="title" property="og:title" content="{{ page.title }}">
    <meta name="image" property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}https://deanroskell.com/img/logo/logo-square.png {% endif %}">
    <meta name="description" property="og:description" content="{{ page.description }}"> -->




    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ base }}/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ base }}/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ base }}/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ base }}/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base }}/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ base }}/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ base }}/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base }}/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base }}/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ base }}/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base }}/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ base }}/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base }}/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ base }}/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ base }}/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="canonical" href="{{ absolute_url }}">

<!-- Google Analytics -->
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135750402-1', 'auto');
ga('send', 'pageview');
ga('require', 'eventTracker');
ga('require', 'outboundLinkTracker');
ga('require', 'urlChangeTracker');

</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MC7X7QQ');</script>
<!-- End Google Tag Manager -->

<script async src="{{base}}/js/lib/autotrack.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{base}}/css/style.css">
<link rel="stylesheet" href="{{base}}/js/lib/materialize.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"> -->
</head>
