body {
    background: black;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
    height: 80%;
    width: 100%;
    position: relative;
    display: flex;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 50px;
    display: flex;
    border: 1px solid orange;
    background: darkgrey;
}

footer > div {
    margin: auto 10px;
    padding: 5px 14px;
    border: 1px solid white;
}

.button {
    background: black;
    cursor: pointer;
}

.button:hover {
    background: rgba(126, 126, 58, 1);
}

.button:focus {
    background: rgba(126, 126, 58, 0.5);
}


#app {
    border: 2px white solid;
    position: fixed;
    display: inline-block;
    height: 80%;
}

canvas {
    height: 100%;
    width: 100%;
}
