---
layout: post
---
{% include head.html %}
{% include header.html %}
<main>
    <div class="slim">
        <section class="flex-row head-title">
            <div class="flex-column">
                <h3>{{page.title}}</h3>
                <div class="spanish-grey-text right">
                    <div class="">
                        <time class="spanish-grey-text">{{ page.date | date: "%-d %B %Y" }}</time>
                    </div>
                    <div class="">
                        <i class="far fa-clock"></i><span>
                            {% assign words = content | number_of_words %}
                            {% if words < 360 %}
                            1 min read.
                            {% else %}
                            {{ words | divided_by:180 }} mins read.
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex-row">
            <div class="flex-column">
                {{ content }}
            </div>
        </section>
        <section>
            {% for c in page.tags %}
            <div class="chip">{{ c }}</div>
            {% endfor %}
        </section>
        <section>
            <div class="share-box right">
                <h5>Share this:</h5>

                <a class="btn-flat" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
                'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fab fa-facebook-square fa-2x"></i></a>

                <a class="btn-flat" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
                'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fab fa-twitter fa-2x"></i></a>

                <a class="btn-flat" href="http://www.reddit.com/submit?url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
                'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" ><i class="fab fa-reddit-alien fa-2x"></i></a>

                <a class="btn-flat" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source=webjeda" onclick="window.open(this.href, 'mywin',
                'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fab fa-linkedin-in fa-2x"></i></a>

                <a class="btn-flat" href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{site.baseurl}}{{ page.url }}"><i class="fas fa-envelope fa-2x"></i></a>
            </div>
        </section>
        <section>
            {% include disqus.html %}
        </section>
    </div>
</main>
{% include footer.html %}
